/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    font-family: 'Arial', sans-serif;
    color: #fff;
    background-image: url('images/webwall.jpg') ;
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;

}

header {
    background-image: linear-gradient(to bottom, #8d00b1, #2a009e);
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #22b9ff;
}

h1{
    color:#ffffff;
}
h2 {
    color: #b700ff;
}

section {
    padding: 40px;
}

a {
    color: #a91ee9;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #22aeff;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}



